
<ul class="navBar">
    <li><a href="/">Home</a></li>
    <li><a href="./getchuckNorris">Chuck Norris Jokes</a></li>
    <li><a href="./harrypotter">Sorting Hat</a></li>
    <li><a href="./marvelcomics">Marvel Comics</a></li>
    <li><a href="./catFacts">Cat Facts</a></li>

</ul>
